{% extends 'base.html' %}
{% load static %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    {% endblock %}

        
        {% block content %}
        <section class="home-1">
            <div class="home-1-container">
                <h1>Stay Informed with the Latest News</h1>
                <p>Explore trending articles, in-depth analysis, and opinion pieces on your favorite topics.</p>
                <a href="#"><span class="btn-explore">Explore Articles</span></a>
            </div>
        </section>

        <section class="featured-articles">

                <h1>Featured Articles</h1>

                <div class="articles-box">

                    <article class="article-item">
                        
                        <div class="article-img">
                            <a href="#">
                            <img src="https://images5.alphacoders.com/878/878056.jpg" alt="Article Image 1">
                            </a>
                        </div>
                        

                        <h4>Breaking News: Major Event Shakes the World</h4>

                        <p>Author: John Doe | 12th October 2024</p>

                        <a href="#" class="btn-read-more">Read More</a>
                    </article>


                    <article class="article-item">
                        
                        <div class="article-img">
                            <a href="#">
                            <img src="https://images5.alphacoders.com/878/878056.jpg" alt="Article Image 1">
                            </a>
                        </div>
                        

                        <h4>Breaking News: Major Event Shakes the World</h4>

                        <p>Author: John Doe | 12th October 2024</p>

                        <a href="#" class="btn-read-more">Read More</a>
                    </article>


                    <article class="article-item">
                        
                        <div class="article-img">
                            <a href="#">
                            <img src="https://images5.alphacoders.com/878/878056.jpg" alt="Article Image 1">
                            </a>
                        </div>
                        

                        <h4>Breaking News: Major Event Shakes the World</h4>

                        <p>Author: John Doe | 12th October 2024</p>

                        <a href="#" class="btn-read-more">Read More</a>
                    </article>

                </div>

        </section>


        <section class="latest-articles">

            
            <h3>Latest Articles</h3>
            <div class="latest-article-box">

                <article class="latest-article-item">

                    <a href="#">
                        <h4>New Policies in the Tech Industry</h4>
                        <p>Author: Sarah Wilson | 18th October 2024</p>
                    </a>

                </article>

                <article class="latest-article-item">

                    <a href="#">
                        <h4>AI Innovations: What You Need to Know</h4>
                        <p>Author: Alex Lee | 17th October 2024</p>
                    </a>

                </article>

                <article class="latest-article-item">

                    <a href="#">
                        <h4>How to Build a News Website</h4>
                        <p>Author: Michael Brown | 16th October 2024</p>
                    </a>

                </article>

                <article class="latest-article-item">

                    <a href="#">
                        <h4>How to Build a News Website</h4>
                        <p>Author: Michael Brown | 16th October 2024</p>
                    </a>
                    
                </article>
                <article class="latest-article-item">

                    <a href="#">
                        <h4>How to Build a News Website</h4>
                        <p>Author: Michael Brown | 16th October 2024</p>
                    </a>
                    
                </article>
                <article class="latest-article-item">

                    <a href="#">
                        <h4>How to Build a News Website</h4>
                        <p>Author: Michael Brown | 16th October 2024</p>
                    </a>
                    
                </article>
                <article class="latest-article-item">

                    <a href="#">
                        <h4>How to Build a News Website</h4>
                        <p>Author: Michael Brown | 16th October 2024</p>
                    </a>
                    
                </article>
                <article class="latest-article-item">

                    <a href="#">
                        <h4>How to Build a News Website</h4>
                        <p>Author: Michael Brown | 16th October 2024</p>
                    </a>
                    
                </article>
                <article class="latest-article-item">

                    <a href="#">
                        <h4>How to Build a News Website</h4>
                        <p>Author: Michael Brown | 16th October 2024</p>
                    </a>
                    
                </article>
                
            </div>

        </section>
        {% endblock %}

        

    