{% extends 'base.html' %}
{% load static %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    {% endblock %}

        
        {% block content %}
        <section class="home-1">
            <div class="home-1-container">
                <h1>Stay Informed with the Latest News</h1>
                <p>Explore trending articles, in-depth analysis, and opinion pieces on your favorite topics.</p>
                <a href="{% url 'article_search' %}"><span class="btn-explore">Explore Articles</span></a>
            </div>
        </section>

        <section class="featured-articles">

                <h1>Featured Articles</h1>

                <div class="articles-box">

                {% for article in featured_articles %}
                    <article class="article-item">
                        {% if article.picture %}
                            <div class="article-img">
                                <a href="{% url 'article' article.id %}">
                                <img src="{{ article.picture.url }}" alt="Article Image">
                                </a>
                            </div>
                        {% else %}
                            <div class="article-img">
                                <a href="{% url 'article' article.id %}">
                                <img src="{% static 'images/default-article-pic.jpg' %}" alt="Article Image">
                                </a>
                            </div>
                        {% endif %}

                        <h4>{{ article.title|truncatechars:35 }}</h4>

                        <p>Author: {{ article.author__user__username|truncatechars:20 }} | {{ article.created_at|date:"jS F Y" }}</p>

                        <a href="{% url 'article' article.id %}" class="btn-read-more">Read More</a>
                    </article>
                {% empty %}
                    <h1 style="margin: 2rem auto;">There arent any articles published yet, be the first to <a href="{% url 'article_create' %}" class="btn-read-more">Publish!</a></h1>
                {% endfor %}

                </div>

        </section>


        <section class="latest-articles">

            
            <h3>Latest Articles</h3>
            <div class="latest-article-box">

                {% for article in recent_articles %}
                    <article class="latest-article-item">

                        <a href="{% url 'article' article.id %}">
                            <h4>{{ article.title|truncatechars:35 }}</h4>
                            <p>Author: {{ article.author__user__username|truncatechars:20 }} | {{ article.created_at|date:"jS F Y" }}</p>
                        </a>

                    </article>
                {% empty %}
                    <article class="latest-article-item">
                        <h3 style="text-align: center;">No recent articles!</h3>
                    </article>
                {% endfor %}
            </div>

        </section>
        {% endblock %}

        

    