{% extends 'base.html' %}
{% load static %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    {% endblock %}

        {% block content %}

        <main>


            <section class="register-form-container">

                
                <h2>Sign in</h2>
                {% if message %}
                <p class="attention-text">
                    Wrong username or password!
                </p>
                {% endif %}
                <form method="post" class="register-form">
                    
                    {{ form }}
                    {% csrf_token %}

                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}

                    <button type="submit" class="register-btn">Sign in</button>
                </form>

                <p>Don't have an account? <a href="{% url 'register' %}" class="signup-btn">Register</a></p>

            </section>


        </main>

        {% endblock %}