{% extends 'base.html' %}
{% load static %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/article-review.css' %}">
    {% endblock %}

        {% block content %}

        <main>
            {% if review_page %}
                <h1 class="review-title">There are {{ num_articles }} articles up for review!</h1>
            {% else %}
                <h1 class="review-title">There are {{ num_articles }} deleted articles!</h1>
            {% endif %}
            <div class="current-articles-container">
                {% if review_page %}
                    {% for article in articles %}
                    <article>
                        {% if article.picture %}
                            <div class="article-img">
                                <a href="{% url 'article' article.id %}">
                                <img src="{{ article.picture.url }}" alt="Article Image">
                                </a>
                            </div>
                        {% else %}
                            <div class="article-img">
                                <a href="{% url 'article' article.id %}">
                                <img src="{% static 'images/default-article-pic.jpg' %}" alt="Article Image">
                                </a>
                            </div>
                        {% endif %}

                        <div class="article-metadata">
                            <h2 class="article-title"><a href="{% url 'article' article.id %}">{{ article.title }}</a></h2>
                            <p class="article-author">by <a href="{% url 'profile_details' article.author.id %}">{{ article.author.user.username }}</a></p>
                            <p class="article-date-publication">Published on: {{ article.created_at|date:"j F, Y" }}</p>
                            <p class="article-current-status">Status: <strong>Not Reviewed!</strong></p>
                        </div>
                        <a href="{% url 'article' article.id %}" class="article-review-btn">Review!</a>
                    </article>
                    {% empty %}
                        <h1 style="color: tomato; text-decoration: underline; margin: 0 auto;">No articles to review, time to take a break!</h1>
                    {% endfor %}
                {% else %}

                    {% for article in articles %}

                    <article>
                        {% if article.picture %}
                            <div class="article-img">
                                <a href="{% url 'article' article.id %}">
                                <img src="{{ article.picture.url }}" alt="Article Image">
                                </a>
                            </div>
                        {% else %}
                            <div class="article-img">
                                <a href="{% url 'article' article.id %}">
                                <img src="{% static 'images/default-article-pic.jpg' %}" alt="Article Image">
                                </a>
                            </div>
                        {% endif %}

                        <div class="article-metadata">
                            <h2 class="article-title"><a href="{% url 'article' article.id %}">{{ article.title }}</a></h2>
                            <p class="article-author">by <a href="{% url 'profile_details' article.author.id %}">{{ article.author.user.username }}</a></p>
                            <p class="article-date-publication">Deleted at: {{ article.deleted_at|date:"j F, Y" }}</p>
                            <p class="article-current-status deleted">Status: <strong>Deleted!</strong></p>
                        </div>
                        <a href="{% url 'article' article.id %}" class="article-review-btn">View!</a>
                    </article>
                    {% empty %}
                        <h1 style="color: tomato; text-decoration: underline; margin: 0 auto;">No deleted articles!</h1>
                    {% endfor %}

                {% endif %}

            </div>

            <div class="pagination-btns">
                <a class="btn-pag" href=
                "
                    {% if articles.has_previous %}
                        ?page={{ articles.previous_page_number }}
                    {% else %}
                        ?page=1
                    {% endif %}
                        
                "
                ><- Previous</a>
                <span>Page {{ page_number }} of {{ articles.paginator.num_pages }}</span>
                <a class="btn-pag" href=
                "
                    {% if articles.has_next %}
                        ?page={{ articles.next_page_number }}
                    {% else %}
                        ?page={{ articles.paginator.num_pages }}
                    {% endif %}

                ">Next Page -></a>
            </div>
            {% if superuser_info_deleted %}
                <div class="admin-greetings">
                    <h3 class="greeting-superuser">Hello Admin! There are currently {{ num_deleted_articles }} deleted articles!</h3>
                    <a href="{% url 'deleted_articles' %}" class="deleted-articles">View deleted articles!</a>
                </div>
            {% endif %}

        </main>

        {% endblock %}