{% extends 'base.html' %}
{% load static %}
{% load markdown_template_tag %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/article.css' %}">
    {% endblock %}

        {% block content %}

        <main>

            {% if is_deleted_article %}
                <h1 style="color: tomato">This article has been rejected!</h1>
            {% endif %}

            <div class="article-container">

                <div class="article-heading">
                    <h1 class="article-title">{{ article.title }}</h1>

                    <div class="mod-btns">

                        {% if edit_button %}
                            <a href="" class="btn-moderation">Edit Article</a>
                        {% endif %}
                        {% if approval_phase or is_deleted_article %}
                            {% if approval_phase %}
                                <a href="{% url 'approve_article' article.pk %}" class="btn-moderation">Approve</a>
                                <a href="#" class="btn-moderation" id="reject-btn">Reject</a>
                            {% else %}
                                <a href="{% url 'approve_article' article.pk %}" class="btn-moderation">Re-Approve</a>
                                <a href="#" class="btn-moderation" id="reject-btn">Delete</a>
                            {% endif %}
                            <div id="overlay" class="overlay">
                                <div class="popup" id="popup">
                                    <h1 id="close-btn">X</h1>
                                    <form method="post" action="{% url 'reject_article' article.pk %}" id="rejection-form">
                                        {% csrf_token %}
                                        {% if approval_phase %}
                                            <h2>Enter a reason for rejection!</h2> 
                                            <textarea name="reason_for_rejection" id="reason-rejection"
                                            placeholder="Please give your reasons here..." required></textarea>
                                            <br>
                                            <button type="submit" class="btn-moderation" id="submit-rejection">Reject Article!</button>
                                        {% else %}
                                            <h2>Confirm deletion of article!</h2> 
                                            <br>
                                            <button type="submit" class="btn-moderation" id="submit-rejection">Delete Article!</button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="article-metadata">

                    {% if author.profile_picture %}
                        <div class="author-profile-picture">
                            <img src="{{ author.profile_picture.url }}" alt="Author's Profile Picture">
                        </div>
                    {% else %}
                        <div class="author-profile-picture">
                            <img src="{% static 'images/default-profile-pic.jpg' %}" alt="Author's Profile Picture">
                        </div>
                    {% endif%}

                    <span class="author-name">By <a href="{% url 'profile_details' author.pk %}">{{ author.user.username }}</a></span>
                    <span class="publish-date">Published on {{ article.created_at|date:"F j, Y" }}</span>
                </div>

                {% if article.picture %}
                <div class="article-image">
                    <img src="{{ article.picture.url }}" alt="Article cover photo">
                </div>
                {% else %}
                <div class="article-image">
                    <img src="{% static 'images/default-article-pic.jpg' %}" alt="Article cover photo">
                </div>
                {% endif %}

                <div class="article-content">
                    {{ article.content|MD }}
                </div>

                <div class="tags">
                    <h3>Tags:</h3>

                    {% for tag in tags %}
                        <span class="tag">{{ tag.name }}</span>
                    {% empty %}
                        <span class="tag">No tags listed</span>
                    {% endfor %}

                </div>

                {% if article.is_approved or is_deleted_article %}
                    <div class="article-reactions" id="reactions">
                        <a href="" class="reaction-btn liked">
                            👍 Like (32)
                        </a>
                        <a href="" class="reaction-btn disliked">
                            👎 Dislike (21)
                        </a>
                    </div>
                
                    <div class="comments-section">
                        <hr>
                        <h2>Comments:</h2>
                        {% if user.is_authenticated and not is_deleted_article %}
                            <div class="comment-form">
                                <form action="{% url 'post_comment' article.pk %}" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <textarea name="content" rows="3" placeholder="Write a comment..." required minlength="1" maxlength="500"></textarea>
                                    </div>
                                    <button type="submit" class="submit-comment-btn">Submit Comment</button>
                                </form>
                            </div>
                        {% elif not user.is_authenticated %}
                            <p class="sign-in-prompt">You need to <a href="{% url 'sign_in' %}" class="login-btn">Sign In</a> to comment.</p>
                        {% endif %}

                        <div class="comments-list" id="comments">

                        {% if user.is_authenticated %}

                            {% for comment in comments %}

                                <div class="comment">
                                    <div class="comment-user-info">
                                        {% if comment.author.profile_picture %}
                                            <div class="comment-user-profile-picture">
                                                <img src="{{ comment.author.profile_picture }}" alt="User profile picture">
                                            </div>
                                        {% else %}
                                            <div class="comment-user-profile-picture">
                                                <img src="{% static 'images/default-profile-pic.jpg' %}" alt="User profile picture">
                                            </div>
                                        {% endif %}
                                        <a href="{% url 'profile_details' author.pk %}" class="comment-user-username">{{ comment.author.user.username }}</a>
                                        <span class="comment-date">On {{ comment.created_at|date:"d/m/Y" }}</span>
                                    </div>
                                    <p class="comment-content">
                                        {{ comment.content }}
                                    </p>
                                    <div class="comment-actions">
                                        <a href="" 
                                        class="comment-like liked">
                                            👍 Like (21)
                                        </a>
                                        <a href="" 
                                        class="comment-dislike disliked">
                                            👎 Dislike (33)
                                        </a>
                                        {% if comment.is_author_or_has_perms %}
                                            {% if not article.deleted_at %}
                                                <a href="{% url 'edit_comment' article.pk comment.pk %}" 
                                                class="comment-edit" style="margin-left: auto;">Edit</a>
                                            {% endif %}
                                            <form action="{% url 'delete_comment' article.pk comment.pk %}" method="post">
                                                {% csrf_token %}
                                                <button>Delete Comment</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            {% empty %}
                            <h1>There aren't any comments yet, Be the first to comment!</h1>
                            {% endfor %}

                        {% else %}

                            {% for comment in comments %}

                                <div class="comment">
                                    <div class="comment-user-info">
                                        {% if comment.author.profile_picture %}
                                            <div class="comment-user-profile-picture">
                                                <img src="{{ comment.author.profile_picture }}" alt="User profile picture">
                                            </div>
                                        {% else %}
                                            <div class="comment-user-profile-picture">
                                                <img src="{% static 'images/default-profile-pic.jpg' %}" alt="User profile picture">
                                            </div>
                                        {% endif %}
                                        <a href="{% url 'profile_details' author.pk %}" class="comment-user-username">{{ comment.author.user.username }}</a>
                                        <span class="comment-date">On {{ comment.created_at|date:"d/m/Y" }}</span>
                                    </div>
                                    <p class="comment-content">
                                        {{ comment.content }}
                                    </p>
                                    <div class="comment-actions">
                                        <a href="" 
                                        class="comment-like">
                                            👍 Like (21)
                                        </a>
                                        <a href="" 
                                        class="comment-dislike">
                                            👎 Dislike (33)
                                        </a>
                                    </div>
                                </div>
                            {% empty %}
                                <h1>There aren't any comments yet, Be the first to comment!</h1>
                            {% endfor %}

                        {% endif %}

                        </div>

                    </div>
                {% endif %}

            </div>

        </main>

        {% endblock %}

        {% if approval_phase %}
            {% block javascript %}
                <script type="text/javascript" src="{% static 'js/article-approval-phase.js' %}" defer></script>
            {% endblock %}
        {% endif %}