<header>
    <h2 class="header-title"><a href="{% url 'index' %}">Click-Bait Haven</a></h2>

    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="">Users</a>
        <a href="">Articles</a>
        {% if user.is_authenticated %}
        <a href="{% url 'sign_out' %}" class="login-btn" id="sign-out">Sign out</a>
        <form action="{% url 'sign_out' %}" method="post" id="sign-out-form" style="display: none;">
            {% csrf_token %}
        </form>
        <a href="{% url 'profile_details' user.profile.pk %}" class="signup-btn">Profile</a>
        {% else %}
        <a href="{% url 'sign_in' %}" class="login-btn">Sign in</a>
        <a href="{% url 'register' %}" class="signup-btn">Register</a>
        {% endif %}
    </nav>
</header>