<header>
    <h2 class="header-title"><a href="{% url 'index' %}">Click-Bait Haven</a></h2>

    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="">Users</a>
        <a href="">Articles</a>
        {% if user.is_authenticated %}
        <a href="" class="login-btn">Log out</a>
        <a href="" class="signup-btn">Profile</a>
        {% else %}
        <a href="" class="login-btn">Sign in</a>
        <a href="{% url 'register' %}" class="signup-btn">Register</a>
        {% endif %}
    </nav>
</header>