{% extends 'base.html' %}
{% load static %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    {% endblock %}

        {% block content %}

        <main>


            <section class="register-form-container">

                <h2>Register</h2>
                <form action="{% url 'register' %}" method="post" class="register-form">
                    {{ form }}
                    {% csrf_token %}
                    <p class="pw-help-text">
                        Password needs to be minimum 8 symobols and cannot consist of only numbers!
                    </p>
                    <button type="submit" class="register-btn">Register</button>
                </form>
                <p>Already have an account? <a href="" class="login-btn">Sign in</a></p>


            </section>


        </main>

        {% endblock %}