body {
    background-color: #F4F4F4;
}

.site {
    justify-content: space-between;
    height: 100vh; 
}

header {
    position: relative;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.edit-profile-title {
    color: rgb(74, 144, 226);
}

.edit-form-container {
    margin: auto;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-group {
    display: block;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.profile-pic {
    max-width: 150px; 
    overflow: hidden; 
    border-radius: 50%; 
    object-fit: cover;
    object-position: center;
    border: 3px solid #333333;
    margin: 0 auto;
}


.edit-form-container form div label,
.edit-form-container form div input,
.edit-form-container form div textarea {
    display: block;
    width: 100%;
}

.edit-form-container form div input,
.edit-form-container form div textarea {
    padding: 0.5rem;
}

.helptext {
    color: tomato;
    text-decoration: underline;
    text-align: center;
}

.edit-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-btn {
    padding: 0.75rem;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border-color: #007BFF;
}

.edit-btn:hover {
    background-color: #0056b3;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .edit-form-container {
        width: 40%;
    }
}

@media screen and (max-width: 1300px) {
    .edit-form-container {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .edit-form-container {
        width: 90%;
    }
}